body{
  font-family: "Montserrat",sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .fecha {
    display: grid;
    grid-template-columns: auto;
    align-items: end;
    justify-content: end;
    padding: 0;
    margin-top: 20px;
  }
  
  .fecha .no-border {
    width: 80px;
  }
  
  .ali {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  img {
    width: 250px;
    height: 75px;
    margin-bottom: 12px;
  }
  
  .form-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(13, 75, 133);
  }


  
  .main-user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    height: 100%;
    width: 60%;
  }
  
  .user-input-box:nth-child(2n) {
    justify-content: center;
  }
  
  .user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .user-input-box label {
    width: 95%;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
  }
  
  .user-input-box select {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
  }
  
  .user-input-box textarea {
    height: 80%;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    margin-bottom: 24px;
  }
  
  .user-input-box input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
  }
  
  .user-input-box .serial {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    background-color: rgba(170, 201, 235, 0.45);
  }
  
  .user-input-mega-box {
    height: 80%;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    margin-bottom: 24px;
    background-color: rgba(170, 201, 235, 0.45);
  }
  
  .user-input-mega-box label {
    height: 80%;
    width: 100%;
  }
  
  .gender-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
  }
  
  .gender-category {
    margin: 15px 0;
    color: white;
  }
  
  .gender-category label {
    padding: 0 20px 0 5px;
  }
  
  .gender-category
    label,
    .gender-category select,
    .gender-category textarea,
    .gender-category input,
    .form-submit-btn input {
    cursor: pointer;
  }
  
  .form-submit-btn {
    align-items: center;
    width: 100%;
    display: flex;
    place-content: center;
  }
  
  .form-submit-btn input {
    display: block;
    width: 20%;
    margin-top: 5px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(209, 209, 209);
    background: rgb(13, 75, 133);
  }
  
  .form-submit-btn input:hover {
    background: rgb(59, 156, 247);
    color: rgb(255, 255, 255);
  }
  
  .user-input-box .tec {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    display: grid;
    align-items: center;
  }
  
  .box-sede {
    display: grid;
    grid-template-columns: auto;
    margin-top: 24px;
    place-content: center;
  }
  
  .box-sede form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .box-sede form label {
    width: 95%;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
  }
  
  .box-sede form select {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    margin-bottom: 24px;
  }
  
  .box-sede form .form-submit-btn {
    align-items: center;
    width: 100%;
    display: flex;
    place-content: center;
  }
  
  .box-sede form .form-submit-btn input,
  .box-sede form .form-submit-btn button {
    display: block;
    width: 30%;
    margin-top: 5px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(209, 209, 209);
    background: rgb(13, 75, 133);
  }
  
  .box-sede form .form-submit-btn input:hover,
  .box-sede form .form-submit-btn button:hover {
    background: rgb(59, 156, 247);
    color: rgb(255, 255, 255);
  }
  
  /* Media Query para dispositivos móviles con una resolución de 768px */
  @media (max-width: 768px) {
    .main-user-info {
      width: 100%;
    }
    
    .user-input-box {
      width: 100%;
    }
    
    .box-sede form .form-submit-btn input,
    .box-sede form .form-submit-btn button {
      width: 50%;
    }
  }
  

@media(max-width: 1280px){
     
    .user-input-box label{
        width: 95%;
        color: #333;
        font-size: 15px;
        font-weight: 350;
        margin: 5px 0;
    }

    .main-user-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top:  10px;
        height: 100%;
        width: 80%;
    }

    .form-title{
        font-size: 20px;
        font-weight: 550;
        text-align: center;
        margin-bottom: 0;
     
    }

    .user-input-box{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        padding-bottom: 0;
        align-items: center;
        justify-content: center;
    }
    
    .user-input-box select{
        width: 100%;
        height: 35px;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
    }
    
    .user-input-box textarea{
        height: 70%;
        width: 100%;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    
    .user-input-box input{
        height: 35px;
        width: 95%;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
    
    }

    .user-input-box .serial{
        height: 35px;
        width: 95%;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
        background-color: rgba(170, 201, 235, 0.45);
        
        
    }
}

@media(max-width: 1380px){
   
    .user-input-box label{
        width: 95%;
        color: #333;
        font-size: 15px;
        font-weight: 350;
        margin: 5px 0;
    }

    .container{
      width: 90%;
      margin-left: 10%;
    }

    .main-user-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top:  10px;
        height: 100%;
        width: 80%;
    }

    .form-title{
        font-size: 20px;
        font-weight: 550;
        text-align: center;
        margin-bottom: 0;
     
    }

    .user-input-box{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        padding-bottom: 0;
        align-items: center;
        justify-content: center;
    }
    
    .user-input-box select{
        width: 100%;
        height: 35px;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
    }
    
    .user-input-box textarea{
        height: 70%;
        width: 100%;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .user-input-box .tec{
      height: 35px;
      width: 95%;
      border-radius: 7px;
      outline: none;
      border: 1px solid grey;
      padding: 0 10px;
  }
    
    .user-input-box input{
        height: 35px;
        width: 95%;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
    
    }

    .user-input-box .serial{
        height: 35px;
        width: 95%;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
        background-color: rgba(170, 201, 235, 0.45);
        
        
    }
}

@media(max-width: 1450px){
    .user-input-box label{
        width: 95%;
        color: #333;
        font-size: 15px;
        font-weight: 350;
        margin: 5px 0;
    }
}
