body{
    margin: 0;
    font-family: "Montserrat",sans-serif;
}


.sidebar {
    position: fixed;
    max-width: 200px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(170, 201, 235, 0.45), rgba(13, 75, 133, 1), rgba(13, 75, 133, 1), rgba(13, 75, 133, 1));
    padding-left: 20px;
    padding-right: 20px;
    float: left;
  }
  
  ul{
    list-style-type: none; /* Elimina los puntos */
    padding-left: 0;
  }
  
  .logo{
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 200px;
    height: 75px;
    margin-top: 10px;
    }
  

   .usuario{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    margin-bottom: 65px;
    margin-top: 45px;
  
   } 

   .usuario .img{
    display: flex;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
   }

   .usuario .img img{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0;
   }

   .usuario p {
    margin-top: 5px;
    margin: 0;
    margin-bottom: 5px;
    color: white;
   }

   .list-opcion{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    padding: 5px;
    margin-bottom: 24px;
   }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
  }

  .menu .submenu ul {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    padding: 10px;
    }
    
    .menu .submenu:hover ul {
      display: block;
    }

    .menu .submenu ul li {   
    margin: 5px 0;
    }

    .exit{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        justify-items: center;
        margin-bottom: 10px;
        text-align: center;
    }

    .exit a{
        margin-bottom: 20px;
    }

    .exit footer {
        width: 100%;
       
    }

    .exit footer a {
        font-size: 11px;
        
    }

    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        width: 130px;
        
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
      .sidebar .dropdown li{
        margin-bottom: 10px; 
        margin-top: 0;
       
     
    }

    .sidebar .dropdown li a{
      text-decoration: none;
      display: flex;
      width: 140px;
  }

    
    @media(max-width: 600px){
        body{
            display: grid;
            grid-template-columns: auto;
        }

        .sidebar {
            width: 100%;
            max-width: 100%;
            background: linear-gradient(rgba(13, 75, 133, 75%), rgba(13, 75, 133, 1));
            padding-left: 20px;
            padding-right: 20px;
            
          }
          
          
          .logo img {
            width: 200px;
            height: 70px;
            margin-right: 10px;
            margin-top: 24px;
            }
          
        
           .usuario{
            display: grid;
            grid-template-columns: auto;
            justify-items: center;
            margin-bottom: 24px;
            margin-top: 10px;
            width: 100%;
            height: 100px;
           } 
        
           .usuario .img{
            display: flex;
            background-color: #fff;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
           }
        
           .usuario .img img{
            display: flex;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            margin: 0;
           }
        
           .usuario p {
            margin-top: 5px;
            margin: 0;
            margin-bottom: 5px;
            color: white;
           }
        
           .list-opcion{
            display: grid;
            grid-template-columns: auto;
            justify-items: center;
            padding: 5px;
            margin-bottom: 24px;
           }
        
          .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
          }
          
          .sidebar li {
            margin-bottom: 10px;
            margin-top: 10px;
          }
          
          .sidebar a {
            text-decoration: none;
            color: white;
          }
        
          .menu .submenu ul {
            display: none;
            position: absolute;
            background-color: #f2f2f2;
            padding: 10px;
            }
            
            .menu .submenu:hover ul {
              display: block;
            }
        
            .menu .submenu ul li {   
            margin: 5px 0;
            }
        
            .exit{
                display: grid;
                grid-template-columns: auto;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0;
                margin-bottom: 10px;
            }
        
            .exit a{
                margin-bottom: 24px;
            }

        }

    @media(max-width: 700px){
        body{
            display: grid;
            grid-template-columns: auto;
        }

        .sidebar {
            width: 100%;
            height: 100px;
            max-width: 100%;
            background: linear-gradient(rgba(170, 201, 235, 0.45), rgba(13, 75, 133, 1), rgba(13, 75, 133, 1), rgba(13, 75, 133, 1));
            padding-left: 20px;
            padding-right: 20px;
            position: static;
          }
          
          
          .logo img {
            width: 200px;
            height: 70px;
            margin-right: 10px;
            margin-top: 24px;
            }
          
        
           .usuario{
            display: grid;
            grid-template-columns: auto;
            justify-items: center;
            margin-bottom: 24px;
            margin-top: 10px;
          
           } 
        
           .usuario .img{
            display: flex;
            background-color: #fff;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
           }
        
           .usuario .img img{
            display: flex;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            margin: 0;
           }
        
           .usuario p {
            margin-top: 5px;
            margin: 0;
            margin-bottom: 5px;
            color: white;
           }
        
           .list-opcion{
            display: grid;
            grid-template-columns: auto;
            justify-items: center;
            padding: 5px;
            margin-bottom: 24px;
           }
        
          .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
          }
          
          .sidebar li {
            margin-bottom: 10px;
            margin-top: 10px;
          }
          
          .sidebar a {
            text-decoration: none;
            color: white;
          }
        
          .menu .submenu ul {
            display: none;
            position: absolute;
            background-color: #f2f2f2;
            padding: 10px;
            }
            
            .menu .submenu:hover ul {
              display: block;
            }
        
            .menu .submenu ul li {   
            margin: 5px 0;
            }
        
            .exit{
                display: grid;
                grid-template-columns: auto;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0;
                margin-bottom: 10px;
            }
        
            .exit a{
                margin-bottom: 24px;
            
            }
        
        
        .container{
            min-width: 280px;
        }

        footer {
            color: #fff;
            justify-content: center;
            align-items: center;
          }
          
          footer a {
            font-size: 12px;
          }


    }

    @media(max-width: 1280px){
        .sidebar {
            max-width: 200px;
            width: 100%;
            height: 100vh;
            background: linear-gradient(rgba(170, 201, 235, 0.45), rgba(13, 75, 133, 1), rgba(13, 75, 133, 1), rgba(13, 75, 133, 1));
            padding-left: 20px;
            padding-right: 20px;
            float: left;
          }
          
          
          .logo{
            display: grid;
            width: 100%;
            align-items: center;
            justify-content: center;
          }
        
          .logo img {
            width: 200px;
            height: 75px;
            margin-top: 30px;
            }
          
        
           .usuario{
            display: grid;
            grid-template-columns: auto;
            justify-items: center;
            margin-bottom: 14px;
            margin-top: 25px;
          
           } 
        
           .usuario .img{
            display: flex;
            background-color: #fff;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
           }
        
           .usuario .img img{
            display: flex;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            margin: 0;
           }
        
           .usuario p {
            margin-top: 5px;
            margin: 0;
            margin-bottom: 5px;
            color: white;
           }
        
           .list-opcion{
            display: grid;
            grid-template-columns: auto;
            justify-items: center;
            padding: 5px;
            margin-bottom: 24px;
           }
        
          .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
          }
          
          .sidebar li {
            margin-bottom: 10px;
            margin-top: 10px;
          }
          
          .sidebar a {
            text-decoration: none;
            color: white;
          }
        
          .menu .submenu ul {
            display: none;
            position: absolute;
            background-color: #f2f2f2;
            padding: 10px;
            }
            
            .menu .submenu:hover ul {
              display: block;
            }
        
            .menu .submenu ul li {   
            margin: 5px 0;
            }
        
            .exit{
                display: grid;
                grid-template-columns: auto;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0;
                margin-bottom: 10px;
            }
        
            .exit a{
                margin-bottom: 24px;
            }

        }

        @media(max-width: 1380px){
            .sidebar {
                max-width: 200px;
                width: 100%;
                height: 100vh;
                background: linear-gradient(rgba(170, 201, 235, 0.45), rgba(13, 75, 133, 1), rgba(13, 75, 133, 1), rgba(13, 75, 133, 1));
                padding-left: 20px;
                padding-right: 20px;
                float: left;
              }
              
              
              .logo{
                display: grid;
                width: 100%;
                align-items: center;
                justify-content: center;
              }
            
              .logo img {
                width: 200px;
                height: 75px;
                margin-top: 5px;
                }
              
            
               .usuario{
                display: grid;
                grid-template-columns: auto;
                justify-items: center;
                margin-bottom: 14px;
                margin-top: 5px;
                width: 100%;
                height: 100px;
               } 
            
               .usuario .img{
                display: flex;
                background-color: #fff;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
              
               }
            
               .usuario .img img{
                display: flex;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                margin: 0;
               }
            
               .usuario p {
                margin-top: 5px;
                margin: 0;
                margin-bottom: 5px;
                color: white;
               }
            
               .list-opcion{
                display: grid;
                grid-template-columns: auto;
                justify-items: center;
                padding: 5px;
                margin-bottom: 10px;
                margin-top: 60px;
               }
            
              .sidebar ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
              }
              
              .sidebar li {
                margin-bottom: 10px;
                margin-top: 10px;
              }
              
              .sidebar a {
                text-decoration: none;
                color: white;
              }
            
              .menu .submenu ul {
                display: none;
                position: absolute;
                background-color: #f2f2f2;
                padding: 10px;
                }
                
                .menu .submenu:hover ul {
                  display: block;
                }
            
                .menu .submenu ul li {   
                margin: 5px 0;
                }
            
                .exit{
                    display: grid;
                    grid-template-columns: auto;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    bottom: 0;
                    margin-bottom: 10px;
                }
            
                .exit a{
                    margin-bottom: 24px;
                }

            }

            @media(max-width: 1450px){
                .user-input-box label{
                    width: 95%;
                    color: #333;
                    font-size: 15px;
                    font-weight: 350;
                    margin: 5px 0;
                }
            }