body{
    margin: 0;
    left: 0;
    font-family: "Montserrat",sans-serif;
}

.container{
    
    display: flex;
    justify-content: center;
    align-content: center;
}

.box{

    width: 400px;
    height: 450px;
    padding: 12px;
}

.box h1{
    text-align: center;
}

.box article{
    display: grid;
    width: 100%;
    place-content: center;
}

.box img{
    width: 250px;
    height: 85px;
}

.box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    border: none;
    background-color: rgb(13, 75, 133); 
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 30%;
    margin: 24px;
  }
  
  input[type="submit"]:hover {
    transform: scale(1.10);
    background-color: rgb(59, 156, 247);
  }

